## Oracle Database Connection in Python

online demo:  
https://nbviewer.org/github/liuhoward/teaching/blob/master/UA/mis331_database/OracleDB_Python.ipynb


more detailed examples:  
https://oracle.github.io/python-cx_Oracle/samples/tutorial/Python-and-Oracle-Database-Scripting-for-the-Future.html

## install Anaconda:
https://docs.anaconda.com/anaconda/install/index.html


## install Oracle instant client
Download oracle instant client 19.14, install it :  
Download: https://www.oracle.com/database/technologies/instant-client/downloads.html
Instructions: https://www.oracle.com/database/technologies/appdev/python/quickstartpythononprem.html

suppose extract it in D:\instantclient_19_14  
set up evironment variable path:  
![1](https://github.com/liuhoward/teaching/raw/master/UA/mis331_database/assets/1.PNG)
![2](https://github.com/liuhoward/teaching/raw/master/UA/mis331_database/assets/2.PNG)
![3](https://github.com/liuhoward/teaching/raw/master/UA/mis331_database/assets/3.png)
![4](https://github.com/liuhoward/teaching/raw/master/UA/mis331_database/assets/4.PNG)
![5](https://github.com/liuhoward/teaching/raw/master/UA/mis331_database/assets/5.PNG)


## install Microsoft Visual Studio 2017 Redistributable (required by Oracle instant client)
Download: https://docs.microsoft.com/en-US/cpp/windows/latest-supported-vc-redist?view=msvc-170  
![6](https://github.com/liuhoward/teaching/raw/master/UA/mis331_database/assets/6.PNG)  



## install cx_Oracle

For communicating with any database through our Python program we require some connector which is nothing but the _cx\_Oracle_ module.  

**For installing cx-Oracle :** 

open Anaconda Powershell, execute:

```
pip install cx-Oracle
```


By this command, you can install cx-Oracle package.


## Oracle Database with cx-Oracle



*   **Import database specific module**   
    Ex. import cx\_Oracle
*   **connect():** Now Establish a connection between the Python program and Oracle database by using connect() function.   
     

```plain
con = cx_Oracle.connect('username/password@localhost')
```

*   **cursor():** To execute a SQL query and to provide results some special object is required that is nothing but cursor() object.  
     

```plain
cursor = cx_Oracle.cursor()
```

*   **execute/executemany method :**  
     

> cursor.execute(sqlquery) – – – -> to execute a single query.   
> cursor.executemany(sqlqueries) – – – -> to execute a single query with multiple bind variables/place holders.

*   **commit():** For DML(Data Manipulation Language) queries that comprise operations like update, insert, delete. We need to commit() then only the result reflects in the database.
*   **fetchone(), fetchmany(int), fetchall():**
    1.  fetchone() : This method is used to fetch one single row from the top of the result set.
    2.  fetchmany(int): This method is used to fetch a limited number of rows based on the argument passed in it.
    3.  fetchall() : This method is used to fetch all rows from the result set.
*   **close():** After all done it is mandatory to close all operations.  
     

```plain
cursor.close()
con.close()
```

## **Execution of SQL statement:** 


### **1\. Creation of table**

In [1]:
# importing module
import cx_Oracle

# get your username and password from https://app.myeducator.com/custom/course_617.view_database_credentials/617saaaaaabaa/

username = 'UXXXXXX'
password = 'XXXXXXXXXXX'


# Create a table in Oracle database
try:
 
    con = cx_Oracle.connect(f'{username}/{password}@oracle-sqlgrading.myed-eng.net:1521')
    print(con.version)
 
    # Now execute the sqlquery
    cursor = con.cursor()
 
    # Creating a table employee
    cursor.execute("CREATE TABLE Employee(empid integer primary key, name varchar2(30), salary number(10, 2))")
 
    print("Table Created successfully")
 
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

11.2.0.2.0
Table Created successfully

DDL statements don’t require to be committed. They are automatically committed. In the above program, I have used execute() method to execute an SQL statement.  




### **2\. Inserting a record into table using execute() method**

In [2]:
# importing module
import cx_Oracle
 
# Inserting a record into a table in Oracle database
try:
    con = cx_Oracle.connect(f'{username}/{password}@oracle-sqlgrading.myed-eng.net:1521')
    cursor = con.cursor()
     
    #con.autocommit = True
    # Inserting a record into table employee
    cursor.execute("""insert into employee values(10001,'Rahul',50000.50)""")
 
    # commit() to make changes reflect in the database
    con.commit()
    print('Record inserted successfully')
 
except cx_Oracle.DatabaseError as e:
    print("There is a problem with Oracle", e)
 
# by writing finally if any error occurs
# then also we can close the all database operation
finally:
    if cursor:
        cursor.close()
    if con:
        con.close()

Record inserted successfully

Once we execute any DML statement it is required to commit the transaction. You can commit a transaction in 2 ways: –

1.  con.commit(). This is used to commit a transaction manually.
2.  con.autocommit = True. This is used to commit a transaction automatically.



### **3\. Inserting multiple records into** a **table using executemany() method**

In [3]:
import cx_Oracle
 
# Load data from a csv file into Oracle table using executemany
try:
    con = cx_Oracle.connect(f'{username}/{password}@oracle-sqlgrading.myed-eng.net:1521')
 
except cx_Oracle.DatabaseError as er:
    print('There is an error in Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
        data = [[10007, 'Vikram', 48000.0], [10008, 'Sunil', 65000.1], [10009, 'Sameer', 75000.0]]
 
        cur = con.cursor()
        # Inserting multiple records into employee table
        # (:1,:2,:3) are place holders. They pick data from a list supplied as argument
        cur.executemany('insert into employee values(:1,:2,:3)', data)
 
    except cx_Oracle.DatabaseError as er:
        print('There is an error in Oracle database:', er)
 
    except Exception as er:
        print(er)
 
    else:
        # To commit the transaction manually
        con.commit()
        print('Multiple records are inserted successfully')
 
finally:
    if cur:
        cur.close()
    if con:
        con.close()

Multiple records are inserted successfully

There might be times when it is required to execute a SQL statement multiple times based on the different values supplied to it each time. This can be achieved using executemany() method. We supply a list containing a list of values that will replace placeholders in a SQL query to be executed. 

From the above case

*   :1 is substituted by value 10007
*   :2 is substituted by value ‘Vikram’
*   :3 is substituted by value 48000.0

And so on(next list of values in a given list)

Similarly, you can supply a list of dictionaries. But instead of placeholder, we will use the bind variable( discussed later).



### **4\. View result set from a select query using fetchall(), fetchmany(int), fetchone()**

In [4]:
import cx_Oracle
 
try:
    con = cx_Oracle.connect(f'{username}/{password}@oracle-sqlgrading.myed-eng.net:1521')
 
except cx_Oracle.DatabaseError as er:
    print('There is an error in the Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
 
        # fetchall() is used to fetch all records from result set
        cur.execute('select * from employee')
        rows = cur.fetchall()
        print(rows)
 
        # fetchmany(int) is used to fetch limited number of records from result set based on integer argument passed in it
        cur.execute('select * from employee')
        rows = cur.fetchmany(3)
        print(rows)
 
        # fetchone() is used fetch one record from top of the result set
        cur.execute('select * from employee')
        rows = cur.fetchone()
        print(rows)
 
    except cx_Oracle.DatabaseError as er:
        print('There is an error in the Oracle database:', er)
 
    except Exception as er:
        print('Error:'+str(er))
 
    finally:
        if cur:
            cur.close()
 
finally:
    if con:
        con.close()

[(10001, 'Rahul', 50000.5), (10007, 'Vikram', 48000.0), (10008, 'Sunil', 65000.1), (10009, 'Sameer', 75000.0)]
[(10001, 'Rahul', 50000.5), (10007, 'Vikram', 48000.0), (10008, 'Sunil', 65000.1)]
(10001, 'Rahul', 50000.5)

In the above program, we have used 3 methods 

1.  **fetchall() :** The _fetchall()_ is used to fetch all records from the result set.
2.  **fetchmany(int) :** The _fetchmany(int)_ is used to fetch the limited number of records from the result set based on the integer argument passed in it.
3.  **fetchone() :** The _fetchone()_ is used to fetch one record from the top of the result set.

### **5\. View result set from a select query using bind variable**

In [5]:
import cx_Oracle
 
try:
    con = cx_Oracle.connect(f'{username}/{password}@oracle-sqlgrading.myed-eng.net:1521')
 
except cx_Oracle.DatabaseError as er:
    print('There is error in the Oracle database:', er)
 
else:
    try:
        cur = con.cursor()
 
        cur.execute('select * from employee where salary > :sal', {'sal': 50000})
        rows = cur.fetchall()
        print(rows)
 
    except cx_Oracle.DatabaseError as er:
        print('There is error in the Oracle database:', er)
 
    except Exception as er:
        print('Error:', er)
 
    finally:
        if cur:
            cur.close()
 
finally:
    if con:
        con.close()

[(10001, 'Rahul', 50000.5), (10008, 'Sunil', 65000.1), (10009, 'Sameer', 75000.0)]

In this case, I have passed a dictionary in execute() method. This dictionary contains the name of the bind variable as a key, and it’s corresponding value. When the SQL query is executed, value from the key is substituted in place of bind variable.